.self {
    display:flex;
    text-overflow: clip;
    overflow: hidden;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}