.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-self: start;
  top: 0px;
}

@media all {
  .App-logo {
    animation: 
      App-logo-spin infinite 2s ease-in-out;
    }
}

.Square {

}

.Circle {

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
    top: 0%;
    left: 15%;
  }
  /* 25% {
    transform: rotate(360deg);
    top: 25%;
    left: 25%;
  }
  50% {
    transform: rotate(720deg);
    top: 35%;
    left: 70%;
  } */
  100% {
    transform: rotate(360deg);
    top: 0%;
    left: 15%;
  }
}
